<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="element-ui/index.js"></script>
    <script src="component/header_login/header_login.js"></script>
    <script src="component/header_login/footer_login.js"></script>
    <link rel="stylesheet" type="text/css" href="element-ui/index.css">
    <link rel="stylesheet" type="text/css" href="component/header_login/header_login.css">
    <link rel="stylesheet" type="text/css" href="component/header_login/footer_login.css">
    <link rel="stylesheet" type="text/css" href="css/resetPassword.css">
</head>
<body style="height: 100%;padding: 0px;margin: 0;">
    <div id="app" style="height: 100%;padding: 0px;margin: 0 " >
        <header_login></header_login>
        <div class="resetPassword_main_container">
            <div class="resetPassword_container">
                <div class="rp_header">
                    <h3>
                        <span>找回密码</span>
                    </h3>
                </div>
                <div class="rp_basecontainer" v-if="whichPage==1">
                    <div class="forgetbyIdForm">
                        <div class="formEditContainer">
                            <div class="Edit_header">
                                <em class="getPasswordTitle">输入账号</em>
                                <p>输入注册账号的手机号或是邮件地址</p>
                            </div>
                            <div class="userIdinputBox" :class="{error_inputBox:inputError}">
                                <input class="resAndAccountInput" type="text" tabindex="1" maxlength="80" autocomplete="off" :placeholder="inputText" v-model="input">
                            </div>
                            <div class="errorTips" v-if="inputError">账号信息不存在</div>
                        </div>
                        <div class="formBtnContainer" v-on:click="btnclicked">
                            <div class="QRBtn" v-if="!clicked">下一步</div>
                            <div class="QRBtn" v-if="clicked">
                                <img src="image/loading.gif" class="loadingimg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rp_basecontainer" v-if="whichPage==2">
                    <div class="forgetbyIdForm">
                        <div class="formEditContainer">
                            <div class="Edit_header">
                                <em class="getPasswordTitle">回答密保问题：{{questionText}}</em>
                                <p>密保答案和问题来源于注册时的输入</p>
                            </div>
                            <div class="userIdinputBox" :class="{error_inputBox:inputError}">
                                <input class="resAndAccountInput" type="text" tabindex="1" maxlength="80" autocomplete="off" :placeholder="inputText" v-model="input">
                            </div>
                            <div class="errorTips" v-if="inputError">密保回答错误</div>
                        </div>
                        <div class="formBtnContainer" v-on:click="btnclicked">
                            <div class="QRBtn" v-if="!clicked">下一步</div>
                            <div class="QRBtn" v-if="clicked">
                                <img src="image/loading.gif" class="loadingimg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rp_basecontainer" v-if="whichPage==3">
                    <div class="forgetbyIdForm">
                        <div class="formEditContainer">
                            <div class="Edit_header">
                                <em class="getPasswordTitle">输入新密码</em>
                                <p>这次的输入内容将成为今后您的密码，请牢记</p>
                            </div>
                            <div class="userIdinputBox">
                                <input class="resAndAccountInput" type="text" tabindex="1" maxlength="80" autocomplete="off" :placeholder="inputText" v-model="input">
                            </div>
                        </div>
                        <div class="formBtnContainer" v-on:click="btnclicked">
                            <div class="QRBtn" v-if="!clicked">下一步</div>
                            <div class="QRBtn" v-if="clicked">
                                <img src="image/loading.gif" class="loadingimg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer_login></footer_login>
    </div>
</body>
</html>
<script>
    new Vue({
        el:'#app',
        data(){
            return{
                inputText:"手机号码/邮件地址",
                whichPage:1,
                input:"",
                inputError:false,
                clicked:false,
                questionText:"问题",
                useraccount:"",
                userId:"",
            }
        },
        methods:{
          btnclicked(){
            if(this.whichPage==1){
                this.useraccount=this.input;
                this.clicked=true;
                //先获取该账号的问题
                var data={
                    "account":this.useraccount,
                }
                //在此之前先验证该账号是否存在
                axios.post('/actionmall/user/getUserByAccount.do',data).then(res1=>{
                    var resdata1=res1.data;
                    if(resdata1.status==0){
                        this.userId=resdata1.data[0].id;
                        axios.post('/actionmall/user/getuserquestion.do',data).then(res=>{
                            var resdata=res.data;
                            if(resdata.status==0){
                                this.questionText=resdata.msg;
                                setTimeout(()=>{
                                    this.whichPage=2;
                                    this.clicked=false;
                                    this.inputError=false;
                                    this.input="";
                                    this.inputText="密保问题";
                                }, 2000);
                            }else {
                                this.inputError=true;
                                this.clicked=false;
                            }
                        })
                    }else {
                        this.inputError=true;
                        this.clicked=false;
                    }
                })
            }else if(this.whichPage==2){
                this.clicked=true;
                var data={
                    "account":this.useraccount,
                    "question":this.questionText,
                    "asw":this.input,
                }
                axios.post('/actionmall/user/checkuserasw.do',data).then(res=>{
                    var resdata=res.data;
                    if(resdata.status==0){
                        setTimeout(()=>{
                            this.whichPage=3;
                            this.clicked=false;
                            this.inputError=false;
                            this.input="";
                            this.inputText="新密码";
                        }, 2000);
                    }else {
                        this.inputError=true;
                        this.clicked=false;
                    }
                })
            }else {
                this.clicked=true;
                var data={
                    "newpwd":this.input,
                    "userId":this.userId,
                }
                axios.post('/actionmall/user/resetpassword.do',data).then(res=>{
                    var resdata=res.data;
                    console.log(resdata);
                    console.log(data);
                    if(resdata.status==0){
                         setTimeout(()=>{
                             window.location.href = "/login.html";
                         }, 2000);
                    }
                })
            }
          },
        }
    })
</script>